In [13]:
#3creating a data frames
import pandas as pd
data = {
    'A': [1, 2, None, 4],
    'B': [5, None, 7, 8],
    'C': [9, 10, 11, None]
}
df = pd.DataFrame(data)
print(df)

     A    B     C
0  1.0  5.0   9.0
1  2.0  NaN  10.0
2  NaN  7.0  11.0
3  4.0  8.0   NaN

In [15]:
#Manipulating rows
#selecting rows
row_1 = df.iloc[0]
rows_1_2 = df.iloc[0:2]
rows_where_A_is_not_null = df[df['A'].notnull()]
print(row_1)
print(rows_1_2)
print(rows_where_A_is_not_null)

A    1.0
B    5.0
C    9.0
Name: 0, dtype: float64
     A    B     C
0  1.0  5.0   9.0
1  2.0  NaN  10.0
     A    B     C
0  1.0  5.0   9.0
1  2.0  NaN  10.0
3  4.0  8.0   NaN

In [29]:
#adding rows
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
new_row = {'A': 5, 'B': 6, 'C': 7}
new_row_df = pd.DataFrame([new_row])
df = pd.concat([df, new_row_df], ignore_index=True)
print(df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
3  5  6  7

In [43]:
#droping rows
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 5, 6, 7],
    'C': [9, 10, 11, None]
})
print("Original DataFrame:")
print(df)
df = df.drop(0)
df = df.dropna(subset=['A'])
print(df)

Original DataFrame:
     A    B     C
0  1.0  NaN   9.0
1  2.0  5.0  10.0
2  NaN  6.0  11.0
3  4.0  7.0   NaN
     A    B     C
1  2.0  5.0  10.0
3  4.0  7.0   NaN

In [47]:
#Manipulating columns
#selecting columns
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 5, 6, 7],
    'C': [9, 10, 11, None]
})
column_A = df['A']
print("Single column 'A':")
print(column_A)
columns_AB = df[['A', 'B']]
print(columns_AB)

Single column 'A':
0    1.0
1    2.0
2    NaN
3    4.0
Name: A, dtype: float64
     A    B
0  1.0  NaN
1  2.0  5.0
2  NaN  6.0
3  4.0  7.0

In [51]:
#adding columns
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 5, 6, 7],
    'C': [9, 10, 11, None]
})
print("Original DataFrame:")
print(df)
df['D'] = 10
df['E'] = df['A'] + df['B']
print("\nDataFrame after adding columns 'D' and 'E':")
print(df)

Original DataFrame:
     A    B     C
0  1.0  NaN   9.0
1  2.0  5.0  10.0
2  NaN  6.0  11.0
3  4.0  7.0   NaN

DataFrame after adding columns 'D' and 'E':
     A    B     C   D     E
0  1.0  NaN   9.0  10   NaN
1  2.0  5.0  10.0  10   7.0
2  NaN  6.0  11.0  10   NaN
3  4.0  7.0   NaN  10  11.0

In [53]:
#droping columns
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, None, 4],
    'B': [None, 5, 6, 7],
    'C': [9, 10, 11, None],
    'D': [10, 10, 10, 10]
})
print("Original DataFrame:")
print(df)
df = df.drop('D', axis=1)
df = df.drop(['B', 'C'], axis=1)
print(df)

Original DataFrame:
     A    B     C   D
0  1.0  NaN   9.0  10
1  2.0  5.0  10.0  10
2  NaN  6.0  11.0  10
3  4.0  7.0   NaN  10
     A
0  1.0
1  2.0
2  NaN
3  4.0

In [57]:
#renaming columns
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})
print("Original DataFrame:")
print(df)
df = df.rename(columns={'A': 'Column_A', 'B': 'Column_B'})
print(df)

Original DataFrame:
   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
   Column_A  Column_B  C
0         1         4  7
1         2         5  8
2         3         6  9

In [61]:
# handling empty (NAN) values
import pandas as pd
df = pd.DataFrame({
    'A': [1, None, 3],
    'B': [4, 5, None],
    'C': [None, 8, 9]
})
df = df.rename(columns={'A': 'Column_A', 'B': 'Column_B'})
print("Current column names:")
print(df.columns)
print(df['Column_A'].isnull())
print(df.isnull())

Current column names:
Index(['Column_A', 'Column_B', 'C'], dtype='object')

Checking for NaN values in 'Column_A':
0    False
1     True
2    False
Name: Column_A, dtype: bool
   Column_A  Column_B      C
0     False     False   True
1      True     False  False
2     False      True  False

In [71]:
print(df.columns)
print(df.head())
df['Column_A'] = df['Column_A'].fillna(0)

Index(['Column_A', 'Column_B', 'C'], dtype='object')
   Column_A  Column_B    C
0       1.0       4.0  NaN
1       NaN       5.0  8.0
2       3.0       NaN  9.0

In [75]:
#Filling NAN Values
import pandas as pd
df = pd.DataFrame({
    'A': [1, None, 3, None],
    'B': [None, 2, 3, 4],
    'C': [5, None, 7, 8]
})
print("Current column names:")
print(df.columns)
print("\nDataFrame:")
print(df)
try:
    df['A'] = df['A'].fillna(0)
except KeyError as e:
    print(f"KeyError: {e}")
    print("The column 'A' does not exist. Please check the column names.")

Current column names:
Index(['A', 'B', 'C'], dtype='object')

DataFrame:
     A    B    C
0  1.0  NaN  5.0
1  NaN  2.0  NaN
2  3.0  3.0  7.0
3  NaN  4.0  8.0

In [77]:
df = pd.DataFrame({
    'A': [3, 1, 4, 2],
    'B': [5, 2, 1, 4],
    'C': ['a', 'b', 'c', 'd']
})
print("Original DataFrame:")
print(df)
df_sorted_by_A = df.sort_values(by='A')
print(df_sorted_by_A)
df

Original DataFrame:
   A  B  C
0  3  5  a
1  1  2  b
2  4  1  c
3  2  4  d
   A  B  C
1  1  2  b
3  2  4  d
0  3  5  a
2  4  1  c

   A  B  C
0  3  5  a
1  1  2  b
2  4  1  c
3  2  4  d